@font-face {
    font-family: Roboto Mono;
    src: url(/fonts/Roboto_Mono.zip);
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto\ \(1\).zip);
}

@font-face {
    font-family: San Francisco Mono,sans-serif;
    src: url(/fonts/San\ Francisco\ Mono.zip);
}

@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat\ \(1\).zip);
}

body {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background: linear-gradient(to right, purple, pink);
}

img {
    height: 50px;
    width: 50px;
}

header {
    font-family: Roboto, sans-serif;
    font-size: 0.8em;

}

.zag {
    font-family: Montserrat, sans-serif;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

.obert {
    columns: 3;
    height: 1180px;
    width: 1640px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.block {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    background: linear-gradient(#8EEA00, #FF1E00, #7E07A9);
    border-radius: 24px;
    height: 580px;
    width: 530px;
}

a {
    text-decoration: none;

}

a:hover {
    color: green;
}

.block:hover {
    box-shadow: 8px 10px 5px 2px rgba(0, 0, 255, .2);
}

.yes {
    width: 116px;
    height: 116px;
}

.niz {
    text-align: right;
    font-size: 0.7em;
}

.syl {
    text-align: center;
}

button {
    text-align: center;
}

.second {
    display: flex;
    text-align: center;
}

.three {
    font-family: Roboto, sans-serif;
    color: black;
    line-height: 1.7;
}

dt {
    font-weight: normal;
    font-size: 1,5em;
}

footer {
    margin: 0 0 16px 0;
}

.testblock {
    background-color: #6d757d;;
    padding: 15px;
    margin: 0 0 16px 0;
    font-family: San Francisco Mono,sans-serif;
    font-size: 0.85em;
}

li {
    padding: 13px;
}

.no {
    color: #009999;
}
h2:first-letter {
  color: red;
  font-size: 30px;
}

